.breach-article-wrapper {
  font-family: barlow, sans-serif;
  line-height: 1.6;
  padding: 100px 50px 0px 50px;
  ;
}
.breach-article-wrapper a{
  color: #003377;
  text-decoration: none;
  font-weight: 600;
}

.blog-container {
  padding: 25px 25px 0px 25px;
  overflow: hidden;
  position: relative;
}

.blog-right-text{
    display: flex;
    align-items: center;
}

.blog-right-content {
  display: flex;
  margin-left: 180px;
  padding-right: 20px;
  justify-content: space-between;
  width: 100%;
}

.blog-contact-us-section {
  border-radius: 5px;
  padding: 40px 50px;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.blog-left-image {
  position: absolute;
  left: -2%;
  transform: scaleX(-1);
  top: 0;
  height: 100%;
}

.blog-left-image img {
  width: 150px;
  height: 100%;
  object-fit: cover;
}

.back-btn{
  position: relative;
  display: inline-block;
  font-family: "Roboto Mono";
  font-size: 18px;
  color: #003377;
  font-weight: 600;
  text-decoration: none;
  padding-bottom: 4px;
  transition: color 0.3s ease;
  cursor: pointer;
  width: fit-content;
}

.back-btn .arrow-icon {
  margin-left: 4px;
  transition: transform 0.3s ease;
  color: #003377;
}

.back-btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #003377;
  transition: width 0.3s ease;
}

.back-btn:hover::after {
  width: 100%;
}
.back-btn:hover .arrow-icon {
  transform: translateX(4px);
}





.front-btn-container{
  display: flex;
  justify-content: flex-start;
  padding: 0px 30px 25px 0px;
}
.back-btn-container{
  display: flex;
  justify-content: flex-start;
  padding: 60px 30px 0px 10px;
}


.front-btn{
  position: relative;
  display: inline-block;
  font-family: "Roboto Mono";
  font-size: 18px;
  color: #003377;
  font-weight: 600;
  text-decoration: none;
  padding-bottom: 4px;
  transition: color 0.3s ease;
  cursor: pointer;
  width: fit-content;
}

.front-btn .arrow-icon {
  margin-left: 4px;
  transition: transform 0.3s ease;
  color: #003377;
}

.front-btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #003377;
  transition: width 0.3s ease;
}

.front-btn:hover::after {
  width: 100%;
}
.front-btn:hover .arrow-icon {
  transform: translateX(4px);
}






.breach-hero-banner {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  margin-bottom: -150px;
}

.breach-hero-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 5px;
}

.hero-overlay-section {
  position: absolute;
  background-color: #ffffff59;
  backdrop-filter: blur(14px);
  top: 60%;
  width: 100%;
  padding: 20px 0px;
  text-align: center;
}

.hero-overlay-section h1 {
  font-size: 36px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.breach-article-content {
  margin: 0 auto;
  padding: 60px 10px 0px 10px;
}

.breach-article-content section {
  margin-bottom: 32px;
}

.breach-article-content h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.breach-article-content h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

.breach-article-content p {
  color: #4B5563;
  margin-bottom: 16px;
}

.breach-article-content ul {
  list-style-type: disc;
  padding-left: 24px;
  margin-bottom: 16px;
  overflow: visible;
  white-space: normal;
}

.breach-article-content li {
  margin-bottom: 8px;
  overflow: visible;
  white-space: normal;
}

.news-blogs-section-inner-blog-page {
  padding: 60px 50px 100px 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.number-points{
  list-style:decimal ;
}

@media only screen and (max-width: 800px) {
  .news-blogs-section-inner-blog-page {
    padding: 60px 20px;
    justify-content: center;
    align-items: center;
  }

  .blog-container {
    padding: 0px;
  }

  .blog-contact-us-section {
    padding: 0px 0px;
    position: static;
  }

  .blog-right-content {
    text-align: center;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }

  .breach-article-content {
    margin: 0 auto;
    padding: 0px;
  }

  .hero-overlay-section {
    position: static;
  }

  .hero-overlay-section h1 {
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }

  .breach-hero-banner img {
    width: 100%;
    height: 45%;
    object-fit: cover;
    border-radius: 5px;
  }

  .breach-hero-banner {
    height: fit-content;
    margin-bottom: 0px;
  }

  .breach-article-wrapper {

    padding: 40px 20px 0px 20px;
  }
  .back-btn{
    position: static;
    margin: -20px 0px 20px -10px;
    font-size: 14px;
  }
  .back-btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #003377;
  transition: width 0.3s ease;
}

.back-btn:hover::after {
  width: 0%;
}

}