.cta-section {
  padding: 80px 130px;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../assets/home/tab-section/bg-image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.cta-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
