/* src/css/HomeTabSection.css */

.home-tab-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
  padding: 0px 130px;
  margin-top: 60px;
}

.tab-bg-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0); /* Start scaled down */
  width: 100%;
  max-width: 1250px;
  height: 95vh;
  z-index: -1;
  border-radius: 20px;
  object-fit: cover;
}

.tab-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50px;
  padding: 15px 60px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 40px;
  width: fit-content;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  gap: 40px;
}

.tab-button {
  border: none;
  background: transparent;
  padding: 15px 35px;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: #888;
  transition: all 0.3s ease;
}

.tab-button.active {
  background-color: #000;
  color: #fff;
  font-weight: 600;
}

.tab-content-container {
  width: 60%;
  max-width: 1000px;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.tab-panel {
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.437);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}
.tab-image {
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: block;
}
@media (max-width: 768px) {
  .home-tab-section {
    padding: 60px 20px 40px 20px;
    height: auto;
    min-height: fit-content;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .tab-bg-image {
    height: 100%;
    border-radius: 0;
    max-height: 60vh;
    top: 30%;
  }

  .tab-navigation {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    flex-direction: column;
    width: 85%;
    max-width: 350px;
    margin: 0 auto 40px auto;
    padding: 20px;
    border-radius: 40px;
  }

  .tab-button {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 5px;
  }

  .tab-button:last-child {
    margin-bottom: 0;
  }

  .tab-content-container {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    width: 100%;
    max-width: 100%;
  }

  .tab-panel {
    padding: 15px;
  }
}
