/* src/css/HomeBanner.css */

.home-banner-container {
  padding: 0px 130px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 80vh;
  overflow: hidden;
}

.video-placeholder {
  position: absolute;
  top: 0;
  left: 130px;
  right: 130px;
  bottom: 0;
  z-index: -1;
  /* background-color: #f0f0f0; */
  border-radius: 20px;
  /* background-image: radial-gradient(circle, #e0e0e0 1px, transparent 1px); */
  background-size: 20px 20px;
  opacity: 0.5;
  overflow: hidden;
}

.banner-content {
  padding: 40px 0;
  width: 100%;
}

.banner-badge {
  border: 2px dashed rgba(0, 0, 0, 0.2);
  padding: 6px 14px;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.035em;
  color: #555;
  background-color: white;
}

.banner-heading {
  margin-bottom: 20px;
  white-space: wrap;
  font-weight: 600;
  /* line-height: 0.5; */
}

.banner-subtext {
  max-width: 600px;
  margin: 0 auto 40px auto;
  color: #666;
}

.banner-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 80px;
}

/* Carousel Styles */
.stats-swiper {
  width: 100%;
}

.stat-item-slide {
  border-right: 2px dashed #ccc;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: left;
  padding: 40px 30px; /* Adjust padding as needed */
  height: 100%;
  box-sizing: border-box;
  /* width: 320px; */
}

.banner-stats {
  display: flex;
  justify-content: center;
  border-top: 2px dashed #ccc;
  border-bottom: 2px dashed #ccc;
  /* border-left: 2px dashed #ccc; */
  text-align: left;
  width: 100%;
  margin: 0 auto;
}

.stat-title {
  margin-bottom: 5px;
  /* width: 80%; */
}

.stat-value {
  font-size: 32px;
  font-weight: 500;
}

.word-span {
  display: inline-block;
  margin-right: 0.25em;
  font-weight: 500 !important;
  line-height: 0.5;
}

@media (max-width: 768px) {
  .banner-content {
    padding: 40px 0;
    width: 100%;
  }
  .home-banner-container {
    padding: 60px 20px;
  }
  .video-placeholder {
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .banner-stats {
    flex-direction: column; /* Though Swiper handles direction, this container style might need reset */
    margin-left: 0px;
  }

  .stat-item-slide {
    border-right: none;
    border-bottom: 1px dashed #eee;
    padding: 30px 10px;
    align-items: center;
    text-align: center;
    border-bottom: none;
  }

  /* Center content in slide on mobile */
  .stat-item-slide {
    align-items: center;
    text-align: center;
  }
}
