/* src/css/HomeTabSection.css */

.home-tab-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 130px;
  margin-top: 60px;
}

/* Background image */
.tab-bg-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100%;
  max-width: 1250px;
  height: 95vh;
  z-index: -1;
  border-radius: 20px;
  object-fit: cover;
}

/* Tabs wrapper */
.tab-navigation {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 15px 60px;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  z-index: 1;
  width: fit-content;
  overflow: hidden;
}

/* Sliding indicator */
.tab-indicator {
  position: absolute;
  top: 50%;
  left: 0;
  /* padding: 30px ; */
  height: calc(100% - 12px);
  transform: translateY(-50%);
  background-color: #000;
  border-radius: 40px;
  z-index: 0;
}

/* Tab buttons */
.tab-button {
  position: relative;
  border: none;
  background: transparent;
  padding: 8px 35px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: #828080;
  z-index: 1;
  transition: color 0.3s ease;
}

.tab-button.active {
  color: #fff;
  font-weight: 600;
  /* background-color: black; */
}

/* Content container */
.tab-content-container {
  width: 60%;
  max-width: 1000px;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.tab-panel {
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.437);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.tab-image {
  width: 100%;
  height: auto;
  border-radius: 20px;
  background-color: #fff;
  display: block;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .home-tab-section {
    padding: 60px 20px 40px 20px;
    min-height: fit-content;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .tab-bg-image {
    height: 100%;
    border-radius: 0;
    max-height: 60vh;
    top: 30%;
  }

  .tab-navigation {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    flex-direction: column;
    width: 85%;
    max-width: 350px;
    margin: 0 auto 40px auto;
    padding: 20px;
    border-radius: 40px;
  }

  /* Indicator becomes vertical */
  .tab-indicator {
    width: 100% !important;
    height: auto;
    top: 0;
    left: 0;
    transform: none;
    border-radius: 30px;
  }

  .tab-button {
    width: 100%;
    border-radius: 40px;
    padding: 15px 0;
    text-align: center;
    margin-bottom: 5px;
  }

  .tab-button.active {
    color: #fff;
    font-weight: 600;
    background-color: black;
  }

  .tab-button:last-child {
    margin-bottom: 0;
  }

  .tab-content-container {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    width: 100%;
    max-width: 100%;
  }

  .tab-panel {
    padding: 15px;
  }
}
