/* src/css/HomeBanner.css */

.home-banner-container {
  padding: 0px 130px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 80vh;
  overflow: hidden;
}

.video-placeholder {
  position: absolute;
  top: 0;
  left: 130px;
  right: 130px;
  bottom: 0;
  z-index: -1;
  background-color: #f0f0f0;
  border-radius: 20px;
  background-image: radial-gradient(circle, #e0e0e0 1px, transparent 1px);
  background-size: 20px 20px;
  opacity: 0.5;
}

.banner-content {
  padding: 40px 0;
  width: 100%;
}

.banner-badge {
  border: 3px dashed rgba(0, 0, 0, 0.2);
  padding: 6px 8px;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 12px;
  color: #555;
}

.banner-heading {
  margin-bottom: 20px;
  white-space: wrap;
  font-weight: 600;
}

.banner-subtext {
  max-width: 600px;
  margin: 0 auto 40px auto;
  color: #666;
}

.banner-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 80px;
}
.stat-item {
  border-right: 3px dashed #ccc;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 60px;
}
.stat-item2 {
  /* border-left: 1px dashed #ccc; */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 60px;
}
.banner-stats {
  display: flex;
  justify-content: center;
  border-top: 3px dashed #ccc;
  border-bottom: 3px dashed #ccc;
  text-align: left;
  width: 100%;
  margin: 0 auto;
}

.stat-title {
  margin-bottom: 5px;
}

.stat-value {
  font-size: 32px;
  font-weight: 600;
}

.word-span {
  display: inline-block;
  margin-right: 0.25em;
  font-weight: 600 !important;
}
@media (max-width: 768px) {
  .banner-content {
    padding: 40px 0;
    width: 100%;
  }
  .home-banner-container {
    padding: 60px 20px;
  }
  .video-placeholder {
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .banner-stats {
    flex-direction: column;
    margin-left: 0px;
  }

  .stat-item {
    border-right: none;
    width: 100%;
    flex-direction: column-reverse;
    margin-bottom: 0px;
    gap: 10px;
  }
  .stat-item2 {
    width: 100%;
    flex-direction: column-reverse;
    gap: 10px;
    margin-top: 0px;
  }
}
