.in-numbers-section {
    background-color: var(--progress-bg);
    padding: 80px 0 !important;
}

.in-numbers-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    text-align: center;
}

.numbers-label {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: black;
    margin-bottom: 16px;
}

.numbers-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin: 60px 0 70px;
}

.numbers-value {
    color: var(--red-color);
    font-size: 42px !important;
}

.numbers-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.numbers-card {
    background-color: var(--white-color);
    border-radius: 16px;
    padding: 28px 32px;
    display: flex;
    align-items: center;
    gap: 16px;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
    transition: transform var(--transition-fast),
        box-shadow var(--transition-fast);
}

.numbers-card-value {
    color: var(--red-color);
    font-size: 36px !important;
}

.numbers-card:hover {
    box-shadow: 0 18px 40px rgba(0, 0, 0, 0.12);
}

@media (max-width: 1024px) {
    .numbers-grid {
        grid-template-columns: repeat(2, 1fr);
        margin: 20px;
    }
}

@media (max-width: 640px) {
    .numbers-grid {
        grid-template-columns: repeat(2, 1fr);
        margin: 20px;
    }



}

.in-numbers-section {
    padding: 60px 0px !important;
}

.numbers-bottom {
    grid-template-columns: 1fr;
}

.in-numbers-container {
    padding: 0px;
}
