/* src/css/SecurityHeadaches.css */

.security-headaches-container {
  padding: 80px 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--progress-bg); /* Light background similar to image */
  overflow: hidden;
  margin-top: 380px;
}

.security-label {
  font-size: 14px;
  font-weight: 600;
  /* margin-bottom: 20px; */
  display: flex;
  color: #000;
  align-items: center;
  margin-bottom: 20px;
}

.security-header {
  margin-bottom: 50px;
}

/* Marquee Styles */
/* Marquee Styles */
.marquee-wrapper {
  width: 100%;
  max-width: 800px; /* Adjust as needed */
  position: relative;
  margin-bottom: 60px;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.marquee-track {
  display: flex;
  gap: 6px;
  width: max-content;
  animation: scroll 200s linear infinite;
}

.marquee-track.reverse {
  animation-direction: reverse;
}

.marquee-item {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 12px;
  color: #333;
  white-space: nowrap;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      -50%
    ); /* Move by half the total width (since content is duplicated) */
  }
}

/* Video Styles */
.video-container {
  width: 100%;
  /* max-width: 900px; */
  border-radius: 20px;
  overflow: hidden;
  margin-top: 40px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
}

.security-video {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  .security-headaches-container {
    padding: 60px 20px;
    margin-top: 0px;
  }
}
